.automatable {
  float: left;
  font-weight: bold;
}

.tpd-content-spacer {
  background-color: #4c74ff;
}

.tpd-frame-top .tpd-stem-triangle {
  border-bottom-color: #4c74ff !important;
}

.tpd-frame-bottom .tpd-stem-triangle {
  border-top-color: #4c74ff !important;
}

.tpd-frame-left .tpd-stem-triangle {
  border-right-color: #4c74ff !important;
}

.tpd-frame-right .tpd-stem-triangle {
  border-left-color: #4c74ff !important;
}

.tpd-title-wrapper {
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}

.tpd-content ul li a {
  color: white;
}
